tensorflow-gpu==2.10.*
pillow
mahotas
scikit-learn
scikit-image
opencv-contrib-python
matplotlib
tqdm
tifffile
seaborn
networkx
hmmviz
hmmlearn
pandas
numpy>=1.23
scipy
statsmodels
umap-learn
fastcluster
imagecodecs